body {
  background-color: #F7F9FC;
  font-family: 'Lora', serif;
  color: #575F7D;
  font-size: 17px;
  line-height: lighter;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
}

h1 {
  color: #575F7D;
  font-size: 32px;
  font-weight: 900;
}

h2 {
  color: #7ECE90;
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #6B72E1;
  font-weight: 600;
  font-size: 16px;
}
a:hover {
  color: black;
}

i {
  font-size: 2em;
}
.img-circle {
  border-radius: 50%;
}

.text-center {
  text-align: center;
}

.card-white {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

#introduction p {
  margin-bottom: 40px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.btn-blue {
  background-color: #6B72E1;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
}
.btn-blue:hover {
  background-color: black;
  color: white;
}

#profile_picture {
  width: 250px;
}

.container {
  width: 700px;
  margin: 40px auto;
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }

  #profile_picture {
    width: 200px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
  #profile_picture {
    width: 130px;
  }
}
